:root {
  font-size: 16px;
  --text-color: #98999B;
  --text-darker-color: #5D5F63;
  --secondary-color: #CDB39C;
  --gray-bg: #B2B2B9;
  --light-gray-bg: #F9F9F9;
  --light-border: #EBEBEB;
  --gray-border: #C4C4C4;
  --border-radius: 15px;
}