:root {
  font-size: 16px;
  --text-color: #835E46;
  --text-darker-color: #835E46;
  --secondary-color: #D39871;
  --gray-bg: #B2B2B9;
  --light-bg: #FFFAEE;
  --light-gray-bg: #E5E1D6;
  --light-border: #EBEBEB;
  --gray-border: #C4C4C4;
  --border-radius: 15px;
}